.touchbasemail-subscribe-form {
    display: block;
    padding: 15px 0;
    width: 100%;
}

/* Reset/set some styles that may cause issues */
.touchbasemail-subscribe-form input[name=email], .touchbasemail-subscribe-form input[type=submit] {
    /* Fix box sizing width with padding */
    line-height: normal;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;

    /* Having different fonts on the input and submit will cause height issues */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    /* Force these to be the same for input and submit */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

.touchbasemail-subscribe-form .touchbasemail-subscribe-form-success {
    border-radius: 6px;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    color: #31708f;
    padding: 8px;
    margin-top: 10px;
}

.touchbasemail-subscribe-form .touchbasemail-subscribe-form-error {
    border-radius: 6px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    padding: 8px;
    margin-top: 10px;
}